<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
        Want to know about me? Here u are 
        <br>
        <%= link_to "My Briefs", ""%>
    </p>
  </body>
</html>