<!DOCTYPE html>
<html>
  <head>
    <title>Help | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
        What i can do? Lets see!
        <br>
        <%= link_to "Need help", ""%>
        <%= link_to "See samples", ""%>
    </p>
  </body>
</html>