<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>This is my first app deploy to heroku</h1>

    <p>
        I am web designer from Kyoto-Japan
        <%= link_to "Get in touch", "", class: "main-description"%>
    </p>
  </body>
</html>